@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;

  --shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.8);
  --shadow-accent: 0 2px 50px -1px rgba(0, 0, 0, 0.8);
  --color-primary: #36b37e;
}

body {
  display: block;
  background: white;
  font-family: "Inter", sans-serif;
}

/* Decoration styling */
h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 0%;
  margin-bottom: 0%;
}

span {
  color: var(--color-primary);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

/* Styling Header Section */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-nav-mobile {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-primary);
}

.first-section {
  background: white url(Imgs/header-illsutration-mobile.svg) no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.first-section h1:first-child {
  margin-top: 2em;
}

.first-section p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 2em 24px;
  text-align: center;
  color: #172b4d;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 170px;
}

@media (min-width: 768px) {
  .header-nav-phone {
    display: none;
  }
}

/* class box-job, box-img, box-title, box-tags, btn-showup  */

/* Styling My recent work section */
.jobs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px repeat(auto, 6fr);
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.jobs h1:first-child {
  padding: 1em;
}

.jobs h1:first-child::after {
  content: "";
  height: 4px;
  width: 50px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
  z-index: -1;
  background-color: var(--color-primary);
  border-radius: 9px;
}

.box-job {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 1em auto;
  width: 330px;
  height: 480px;
  border: 1px #d0d9d4;
  border-radius: 8 px;
  transition: box-shadow 0.3s ease-in-out;
}

.box-job:hover {
  box-shadow: var(--shadow);
}

.box-img {
  overflow: hidden;
  box-sizing: border-box;
}
.box-img img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.box-tags,
.skill-tags {
  list-style: none;
  padding: 0%;
  display: flex;
  justify-content: center;
}

.box-job > .box-tags > li {
  background: #ebf0ee;
  font-size: 12px;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 4px;
}

/* .box-job {
  display: grid;
  padding: 16px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 2000ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  height: 100%;
  width: 100%;
  z-index: 2;
} */

.box-img {
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 16px;
}

.box-img > img {
  width: 100%;
  min-height: 220px;
  object-fit: cover;
}

.box-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  color: #172b4d;
  text-align: left;
}
.box-tags {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.box-tags {
  color: var(--color-primary);
  padding: 0.5em 0.75em 0.5em;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.btn-showup {
  display: flex;
  justify-content: space-between;
}

.btn-showup {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  width: fit-content;
  align-self: center;
  background: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

.btn-showup > img {
  margin-left: 1.3em;
}

/* About me section styling */

.about-myself {
  margin-top: 2rem;
  background: url(Imgs/illustration_1-about_me-mobile.svg) no-repeat 100% 0%,
    url(Imgs/illustration_2-about_me_mobile.svg) no-repeat 0 300px;
  text-align: center;
  padding: 2em;
}

.about-myself p {
  font-size: 20px;
  color: #172b4d;
}

.getrbtn button {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  width: fit-content;
  align-self: center;
  background: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter";
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

.myself-skillset {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.skill-categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 0 0 0;
  margin-bottom: 2em;
  height: 352px;
  width: 327px;
  background: #ebf0ee;
  border: 1px lightgrey solid;
  border-radius: 5px;
  transition: box-shadow 0.4s ease-out;
}

.skill-categories:hover {
  box-shadow: var(--shadow);
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.skill-categories > .skill-tags > li {
  background: white;
  color: var(--color-primary);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1em 0.5em;
  margin: 1em 0.5em;
  border-radius: 5px;
}

.skill-title {
  font-size: 24px;
  color: #172b4d;
}

.skill-img {
  display: flex;
  justify-content: center;
  align-self: center;
}
